.live-btn {
  width: 90%;
  padding: 0.25em;
  background: #064e3b;
  text-align: center;
  outline: none;
  border-color: transparent;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;

  &.active {
    background: #047857;
  }
}

.channel-list {
  max-height: 300px;
  overflow-y: hidden;
}

.live-channels {
  color: white !important;
  justify-self: right;
  font-weight: bold;
  display: flex;
  font-size: 12px;
  align-items: center;
  background-color: #770c06;
  padding: 0.5em;
  border-radius: 5px;
  .tower-icon {
    font-size: 12px;
    margin-right: 2px;
  }
}

.channel-item {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover {
    background-color: #dddddd;
  }

  .live-status {
    background-color: darkred;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 5px;
  }

  &.offline {
    height: 15px;
    padding: 0.25em 0em;
    .channel-link {
      color: #4d4d4d;
    }
  }

  &.online {
    .channel-link {
      color: darkred;
    }
  }

  .channel-link {
    padding: 0px 5px;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    align-items: center;
  }
}
.select {
  width: 100%;
}

.content {
  position: relative;
  width: 75%;
  margin: 0em 0.5em;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  flex-basis: 50%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 90%;
  padding: 0.25em;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content.isOpen {
  display: block;
}
