.container {
  background-color: #030712;
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
  height: 100%;
}

.navigation {
  display: grid;
  grid: 1fr / 1fr 2fr 1fr;
  gap: 2em;
  background-color: #18181b;
  padding: 0.5em;
  align-items: center;
  .back-link {
    padding-left: 0.25em;
  }
  .back-img {
    height: 32px;
    cursor: pointer;
  }
  .channel-name {
    text-align: center;
    text-transform: uppercase;
  }

  .channel-switch-wrap {
    display: flex;
    justify-content: end;
  }
}

.main-area {
  margin-top: 0.5em;
  gap: 1em;
  flex-grow: 1;
  display: flex;
  height: calc(100% - 100px);
  align-items: stretch;

  .player-section {
    background-color: black;
    width: 100%;
    &.full {
      flex-grow: 1;
    }
    #player {
      width: 100%;
    }
  }

  .chat-section {
    background-color: white;
    flex-basis: 30%;
  }
}

.footer {
  background-color: #18181b;
  margin-top: 0.5em;
  .stats {
    display: flex;
    gap: 1em;
  }
  .under-chat-section {
    display: flex;
    gap: 1em;
  }
  .expand-chat {
    color: white;
    text-transform: none;
    text-decoration: none;
    cursor: pointer;
  }
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
